/* ==========================================
カラークラス定義のスタイルシート 
============================================= */

.bg-background {
  background-color: #260d00;
  color: #ffffff;
}
.bg-card {
  background-color: #b9b9b9;
}