/* ==========================================
このファイルは全ての画面に適用するスタイルシート 
============================================= */

html, body {
  width: 100%;
  height: auto;
  position: relative;
}
/* --- ヘッダー --- */
header {
  position: fixed;
  z-index: 999;
}
/* --- トップロゴ --- */
.top-font>img {
  width: auto;
  height: 50px;
}
/* --- メイン --- */
main {
  min-height: 100vh;
}
@media (min-width: 992px) {
  /* --- ヘッダー --- */
  header {
    width: 100%;
  }
  .hamburger-menu {
    display: none;
  }
  /* --- メイン --- */
  main {
    padding-top: 70px;
  }
}
@media (max-width: 992px) {
  .navbar {
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .hamburger-menu {
    position: absolute !important;
    top: 0;
    right: 0;
  }
}