/* ==========================================
トップページに適用するスタイルシート 
============================================= */
.title-font {
  text-shadow: 3px 3px 0 #bcbcbc;
  color: #fff200;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 50px;
}
/* --- トップ画面 --- */
.top-animation,
.top-animation>.back-img {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
}
.top-animation>img.top-logo {
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.top-animation>img.top-logo:hover {
  transition: all 1s ease 0s;
  background-color: #7777779b;
  border: none;
  box-shadow: 0 0 20px 20px #7777779b;
}
/* --- コンセプトエリア --- */
.concept-music,
.concept-osake {
  position: relative;
}
.concept-music>img,
.concept-osake>img {
  width: 60%;
  height: auto;
}
.concept-osake>img {
  margin-left: 40%;
}
.concept-music>h1 {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 10vw;
  text-shadow: 2px 2px 0 #000000;
}
.concept-osake>h1 {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 10vw;
  text-shadow: 2px 2px 0 #000000;
}
.concept-detail-text {
  display: inline;
}
.concept-music>.concept-detail-text {
  position: absolute;
  top: 20%;
  right: 0;
  width: 40%;
  font-size: 3vw;
}
.concept-osake>.concept-detail-text {
  position: absolute;
  top: 20%;
  left: 0;
  width: 40%;
  font-size: 3vw;
}
.concept-area {
  position: relative;
}
.concept-area>.cross>span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 2vw;
  background-color: #fff200;
}
.concept-area>.cross>span:nth-child(1) {
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}
.concept-area>.cross>span:nth-child(2) {
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
/* --- 今後のイベント欄 --- */
.event-view {
  padding: 10px 10px;
}
.event-link {
  text-decoration: none;
  color: #000000;
}
.event-link-card {
  border-radius: 5px;
  border: 2px solid #f6f6f6;
  margin: 10px 20px;
  box-shadow: 3px 3px 6px 0px gray;
}
.event-date-area {
  padding: 0 5px;
  font-weight: bold;
  background-color: #ffffff;
}
.event-date-area>.month,
.event-date-area>.date {
  font-size: 30px;
}
.event-link-card>ul {
  padding: 5px;
  list-style: none;
}
.event-link-card .event-name {
  font-size: 20px;
  font-weight: bold;
}
/* --- フッター --- */
footer {
  background-color: #4e4b46;
}
@media (min-width: 992px) {
  /* --- 今後のイベント欄 --- */
  .event-link-card {
    display: flex;
  }
  .event-link-card:hover {
    transform: translate(-5px, -5px);
    box-shadow: 2px 2px 0px 0px #0004ff;
  }
  .event-date-area {
    width: 130px;
    min-width: 130px;
  }
}
@media (max-width: 992px) {

}